<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Factory</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %} />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark bg-transparent navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logofactory.jpg' %}" width="200" height="100" class="d-inline-block align-top"
                alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laboratorio' %}">Laboratorios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pc_armados' %}">PC armados <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto_list' %}">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'pc_gamer' %}">PC GAMERS</a>
                        <a class="dropdown-item" href="{% url 'workstations' %}">WORKSTATIONS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'home_office' %}">OFICINA-HOME OFFICE</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'carrito' %}">
                        <img src="{% static 'img/carrito-de-compras.png' %}" width="40" height="40"
                            class="d-inline-block align-top" alt="Carrito de compras">
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            {% if user.username == 'admin' %}
            <a href="{% url 'gestion_registro' %}" class="btn btn-primary"
                onclick="alert('ESTAS INGRESANDO COMO {{user.username}}')">
                CRUD
            </a>
            {% endif %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"
                    onclick="alert('Gracias por pasar por aquí {{user.username}}')">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'registrarse' %}"><button>Registrarse</button></a>

            <a href="{% url 'login' %}"><button>Login</button></a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}

    <!-- jQuery, Popper.js y Bootstrap JS (con integridad CORRECTA) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <!-- integrity="sha384-+YQ4K1Ld+OohXKpxcY9mDfxU0QncXcFTg6Yt+KvNcmc5jlYbAjFhBCVQYXTAFz0P" -->

    <footer>
        Todos los derechos reservados 2025
    </footer>
</body>

</html>