<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKSTATIONS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<style>
   
</style>

<body>
    <nav class="navbar navbar-dark bg-transparent navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logofactory.jpg' %}" width="200" height="100" class="d-inline-block align-top" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pc_armados' %}">PC armados <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laboratorio' %}">Laboratorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto_list' %}">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'pc_gamer' %}">PC GAMERS</a>
                        <a class="dropdown-item" href="{% url 'workstations' %}">WORKSTATIONS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'home_office' %}">OFICINA-HOME OFFICE</a>
                    </div>
                </li>
                <a href="{% url 'carrito' %}">
                    <img src="{% static 'img/carrito-de-compras.png' %}" width="40" height="40" class="d-inline-block align-top" alt="Carrito de compras">
                </a>
            </ul>
            <a href="{% url 'registrarse' %}">
                <button>Registrarse</button>
            </a>
        </div>
    </nav>
    <div class="container">
      <div class="card-container">
          <div class="card">
              <img class="card-img-top" src="{% static 'img/WORKSTATION1.avif' %}" alt="Image 1">
              <div class="card-body">
                  <h5 class="card-title">ThinkStation P3 Tower ¡Personalizable!</h5>
                  <p class="card-text">
                    <span class="new-price">$2.371.373</span>
                      <span class="old-price">Precio web $3.161.831</span><br>
                        Ahorra $790.458
                        <strong>-25% de descuento</strong>
                  </p>
                  <button onclick="addToCart('ThinkStation P3 Tower ¡Personalizable!', 2371373)" class="btn btn-primary">Añadir al carro</button>
              </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="{% static 'img/WORKSTATION2.webp' %}" alt="Image 2">
              <div class="card-body">
                  <h5 class="card-title">PC Workstation Intel Core i9-14900K, 128GB RAM, 1TB NVMe 4.0, WiFi 7</h5>
                <p class="card-text">
                      <span class="new-price">$2.326.170</span>
                      Con Transferencia electrónica
                      <span class="new-price">$2.454.110</span> 
                      Con tarjeta crédito/débito
                  </p>
                  <button onclick="addToCart('PC Workstation Intel Core i9-14900K, 128GB RAM, 1TB NVMe 4.0, WiFi 7', 2326170, 2454110)" class="btn btn-primary">Añadir al carro</button>
              </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="{% static 'img/WORKSTATION3.webp' %}" alt="Image 3">
              <div class="card-body">
                  <h5 class="card-title">PC Workstation Core i9-14900KF, RTX 4090, 64GB DDR5, 1TB NVMe, WiFi 7</h5>
                  <p class="card-text">
                      <span class="new-price">$4.429.740</span>
                      Con Transferencia electrónica
                      <span class="new-price">$4.673.380</span> 
                      Con tarjeta crédito/débito
                  </p>
                  <button onclick="addToCart('PC Workstation Core i9-14900KF, RTX 4090, 64GB DDR5, 1TB NVMe, WiFi 7', 4429740, 4673380)" class="btn btn-primary">Añadir al carro</button>
              </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="{% static 'img/WORKSTATION4.webp' %}" alt="Image 4">
              <div class="card-body">
                  <h5 class="card-title">PC Workstation Core i9-14900KF, RTX 4090, 128GB DDR5, 2TB NVMe, WiFi 7</h5>
                  <p class="card-text">
                    <span class="new-price">$4.429.740</span>
                    Con Transferencia electrónica
                    <span class="new-price">$4.673.380</span> 
                    Con tarjeta crédito/débito
                  </p>
                  <button onclick="addToCart('PC Workstation Core i9-14900KF, RTX 4090, 128GB DDR5, 2TB NVMe, WiFi 7', 4429740, 4673380)" class="btn btn-primary">Añadir al carro</button>
              </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="{% static 'img/WORKSTATION5.webp' %}" alt="Image 5">
              <div class="card-body">
                  <h5 class="card-title">Workstation Intel Core i9-14900KF RTX 4070Ti SUPER 128GB DDR5 4TB NVMe WiFi 6</h5>
                  <p class="card-text">
                    <span class="new-price">$3.526.210</span>
                    Con Transferencia electrónica
                    <span class="new-price">$3.720.160</span> 
                    Con tarjeta crédito/débito
                  </p>
                  <button onclick="addToCart('Workstation Intel Core i9-14900KF RTX 4070Ti SUPER 128GB DDR5 4TB NVMe WiFi 6', 3526210, 3720160)" class="btn btn-primary">Añadir al carro</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Mensaje de confirmación -->
  <div id="mensaje-confirmacion" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
      Añadido al carro.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <script>
      // Función para añadir al carrito
      function addToCart(producto, precioEfectivo, precioTarjeta) {
          // Obtener el carrito actual del localStorage
          var carrito = JSON.parse(localStorage.getItem('carrito')) || [];

          // Crear un nuevo objeto producto
          var nuevoProducto = {
              nombre: producto,
              precio_efectivo: precioEfectivo,
              precio_tarjeta: precioTarjeta
          };

          // Agregar el nuevo producto al carrito
          carrito.push(nuevoProducto);

          // Guardar el carrito actualizado en localStorage
          localStorage.setItem('carrito', JSON.stringify(carrito));

          // Mostrar mensaje de confirmación
          $('#mensaje-confirmacion').css('display', 'block');

          // Redireccionar a la página de carrito de compras después de un pequeño retraso
          setTimeout(function() {
              window.location.href = "{% url 'carrito' %}";
          }, 1000);
      }
  </script>
    <a href="{% url 'transbank' %}">
      <img src="{% static 'img/transbank.png' %}" class="mt-4" style="display: block; margin-left: auto; margin-right: auto; width: 400px; height: 160px;">
    </a>

    <br></br>
<footer
    class="text-center text-lg-start text-white"
    style="background-color: #000000"
>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        MASTER FACTORY
                    </h6>
                    <p class="text-white">
                        Obten ofertas y promociones exclusivas.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Producto</h6>
                    <p class="text-white">
                        <a class="text-white" href="{% url 'pc_gamer' %}" >PC GAMERS</a>
                    </p>
                    <p class="text-white">
                        <a class="text-white" href="{% url 'workstations' %}">WORKSTATIONS</a>
                    </p>
                    <p class="text-white">
                        <a class="text-white" href="{% url 'home_office' %}">OFICINA - HOME OFFICE</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <p class="text-white"><i class="fas fa-home mr-3"></i> Providencia #10012, Stgo. Ch</p>
                    <p class="text-white"><i class="fas fa-envelope mr-3"></i> masterfactory@gmail.com</p>
                    <p class="text-white"><i class="fas fa-phone mr-3"></i> +56 9 5879 5468</p>
                    <p class="text-white"><i class="fas fa-print mr-3"></i> +2 2687 8765</p>
                </div>
                <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3">

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3">
                        © 2025 Copyright ♡
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                        <a href="https://www.facebook.com" target="_blank"
                        class="btn btn-outline-light btn-floating m-1 text-white"
                        role="button">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <!-- Twitter (ahora X) -->
                        <a href="https://www.twitter.com" target="_blank"
                        class="btn btn-outline-light btn-floating m-1 text-white"
                        role="button">
                            <i class="fab fa-x-twitter"></i>
                        </a>

                        <!-- Google (usualmente Gmail o buscador) -->
                        <a href="https://www.google.com" target="_blank"
                        class="btn btn-outline-light btn-floating m-1 text-white"
                        role="button">
                            <i class="fab fa-google"></i>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com" target="_blank"
                        class="btn btn-outline-light btn-floating m-1 text-white"
                        role="button">
                            <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->

</footer>


<footer>
    Todos los derechos reservados 2025
</footer>

        
    </body>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script> -->
    <!-- jQuery, Popper.js y Bootstrap JS (con integridad CORRECTA) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <!-- integrity="sha384-+YQ4K1Ld+OohXKpxcY9mDfxU0QncXcFTg6Yt+KvNcmc5jlYbAjFhBCVQYXTAFz0P" -->
</body>
</html>
